BASE_DIR=YOURBASEDIRHERE
AUDIT_VENV=YOURBASEDIRHERE/scripts/.audit-venv
AUDIT_PYTHON=YOURBASEDIRHERE/scripts/.audit-venv/bin/python

NVM_DIR=/home/USER/.nvm
EXTRA_PATH=/home/USER/.nvm/versions/node/v24.14.0/bin:/usr/local/bin:/usr/bin:/bin
