PROJECT_ROOT_DIR=myprojects
BASE_DIR=/home/user
AUDIT_VENV=/home/user/scripts/.audit-venv
AUDIT_PYTHON=/home/user/scripts/.audit-venv/bin/python

NVM_DIR=/home/USER/.nvm
EXTRA_PATH=/home/user/.nvm/versions/node/v24.14.0/bin:/usr/local/bin:/usr/bin:/bin
